/* ==UserStyle==
@name           verbum.by: black AMOLED
@namespace      github.com/openstyles/stylus
@version        1.0.8
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("verbum.by") {

	body {
		--bs-body-color: #bbb !important
	}

	body,
	.pagination .page-item .page-link
	{
		background: #000;
	}
	
	input
	{
		color: gray;
		border: 1px solid #222 !important;
		background: #000;
	}
	.search-input .button-control {
		border: 1px solid #222;
	}
	.suggestions li:hover {
		background: #000 !important;
	}

	.article {
		border-color: #222;
	}

	.article v-ex {
		font-weight: bold;
	}

	p {
		color: #bbb;
	}

	highlight {
		color: #fbb;
	}

	[style='color: darkblue'],
	[style='color: midnightblue']
	{
		color: lightblue !important;
	}

::selection {
	background-color: #292;
	color: #000;
}

}
